
.MuiListItem-root{
    background-color: rgb(54, 20, 20);
  margin-top:2.5px;
  color:white;
  margin-bottom:2.5px;
}
.preview{
    width: 100%;
    overflow-wrap:break-word;
    text-overflow: ellipsis;
    height:fit-content;
    padding:5px;
    max-height: 60px;
    border-radius: 20px;
    /* Required for text-overflow to do anything */
    
    overflow: hidden;
  
    text-align: center;
    background-color: rgb(245, 244, 244);
    color: rgb(0, 0, 0);
}
