.navbar{

    width: 100vw;
    display: flex;
    justify-content: flex-end;
    border-bottom:1px solid black ;
    position: absolute;
    top:0;

}
#navbar-btn{
    border-radius: 0;
    
    border-left: 1px solid black;
}
