.profile{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100vw;
    height: 100vh;
}
.profile-body{
    display: flex;
    justify-content: center;

}
@media (max-width: 450px) {
    .profile-body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
  }